@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(
      to right,
      rgba(226, 226, 226, 0.5),
      rgba(201, 255, 208, 0.4)
    ),
    url('https://www.ifnmg.edu.br/arquivos/2016/aa.jpg') no-repeat center center
      fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

*:has(> .fa-eye-slash, .fa-eye) {
  position: relative;
}

.fa-eye-custom {
  position: absolute;
  top: 25%;
  right: 15%;
  cursor: pointer;
  color: #1b7c21;
  font-size: 16px;
  text-align: center;
}

.container label {
  width: 300px;
  padding-right: 30px;
}
.container {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}
.container h1 {
  padding-bottom: 20px;
}
.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container span {
  font-size: 12px;
  padding-bottom: 25px;
}

.container a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container button {
  background-color: #1b7c21;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.container form {
  margin-top: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.container input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}


.recuperar {
  background: transparent;
  border: none;
  color: white;
}
#botao-superior-direito {
  position: fixed;
  top: 60px;
  right: 70px;
  z-index: 100;
}

#botao-superior-direito button {
  background-color: #055a0b;
  font-weight: bolder;
  color: #fff;
  padding: 10px 40px;
  border: #1b7c21;
  border-radius: 8px;
  cursor: pointer;
  letter-spacing: 2px;
}
#recupera_senha {
  background: transparent;
  border: none;
  color: #1b7c21;
  text-decoration: underline;
}
